*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1{
			color: black;
			font-size: 50px;
			font-family: Arial Black;
			padding-top: 30px;
			text-align: center;
}
p{
			color: black;
			font-size: 25px;
			font-family: Times New Roman;
			margin-left: 20px;		
}
.c{
	margin-top: 30px;
}
a{
		text-decoration: none;
		color: black;
		font-size: 25 px;
		display: block;
		margin: 25px 0;
		}
div{
	width: 60%;
	margin: auto;
	background-color: #d8c3a5;
	padding: 70px;
}
img {
	width: 80%;
	height: auto;
	display: block;
	margin-left: 135px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-right: 45px;
	padding-left: 500px;
}

.A{
	width: 100%;
	height: auto;
	display: block;
	margin-left: 5px;
	padding-right: 60px;
	padding-left: 500px
}
.Aa{
	width: 100%;
	height: auto;
	display: block;
	margin-left: 10px;
	padding-right: 50px;
	padding-left: 500px;
}
.B{

	width: 80%;
	height: auto;
	display: block;
	margin-right: 350px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 125px;
	padding-right: 550px;
}

body {
	font-size: 23px;
	color: #af4425;
	background-color: #d8c3a5;
}
.main{
    background-color: white ;
	display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 3);
    flex-wrap: wrap;
    color: black;
    margin-top: ;
}
.x{
	color: #696969;
	font-size: 18px;
	font-family: Times New Roman;
	margin-left: 20px;
}
