*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1{
			color: #662e1c;
			font-size: 50px;
			font-family: 'Pangolin', cursive;
			margin: 20px;
			background-color: #ebb582;
}
p{
			color: #af4425;
			font-size: 25px;
			font-family: 'Zen Kurenaido', sans-serif;
			margin-left: 20px;
}
a{
		text-decoration: none;
		color: #662e1c;
		font-size: 25 px;
		display: block;
		margin: 25px 0;
		}
div{
	width: 60%;
	margin: auto;
	background-color: #ebdcb2;
	padding: 70px;
}
img {
	width: 80%;
	height: auto;
	display: block;
	margin-left: 135px;
	margin-top: 30px;
	margin-bottom: 30px;
}
body {
	font-size: 23px;
	color: #af4425;
	background-color: #ebdcb2;
}